* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(./resources/background-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #ebebeb;
  display: block;
  position: relative;
  margin: auto;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

header,
.header-container,
.h-left-cont,
.h-right-cont,
.title,
.wrapper,
.sidebar,
.navbar,
.main {
  border: 1px solid #fff;
}

/* @media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
    margin: auto;
  }
} */

/******** HEADER ********/

header {
  background-color: #222;
  color: white;
  padding: 24px 0 24px 0;
}

@media (min-width: 1080px) {
  .header-container {
    width: 1080px;
    gap: 300px;
  }
}

.h-left-cont {
}

.h-right-cont {
  background-color: #fff;
}

/* SIDEBAR */

.sidebar {
}

ul {
  gap: 14px;
  font-size: 1.2em;
}

.hr-line {
  border: 0.6px solid #fff;
  opacity: 50%;
  margin: 5px;
}

/* NAVBAR */

.right-side {
  width: 100%;
}

.navbar {
  padding: 30px;
  gap: 22px;
}

.dynamic-text {
  gap: 300px;
}

/* MAIN */

.main {
  width: 100%;
}
